<div class="album-panel-container">
  <div class="panel album-panel">
    <div class="album-top-columns columns is-gapless">
      <div class="column">
        <%= image_tag(cover_250(@album.cover), {class: "album-cover"}) %>
      </div>

      <div class="column right-column">
        <p class="album-name">
          <span><%= @album.title %></span>
        </p>
        <p class="artist-name">
          <%= link_to(search_url(q: @album.artist)) do %>
            <span class="icon is-small is-left"><i class="fas fa-microphone"></i></span>
            <span><%= @album.artist %></span>
          <% end %>
        </p>
        <p class="release-year has-text-grey-light">
          <span>&copy;&nbsp;<%= @album.release_date[0..3] %></span>
        </p>
      </div>
    </div>

    <p class="panel-tabs">
      <a class="songs-toggle is-active">Songs</a>
      <a class="tags-toggle">Tags</a>
      <a class="connections-toggle">Connections</a>
      <a class="lists-toggle">Lists</a>
    </p>
    <div class="panel-block songs-panel is-active">
      <table class="table">
        <tbody>
          <%= render(partial: 'albums/song', collection: @album.songs, as: :song) %>
        </tbody>
      </table>
    </div>

    <div class="panel-block tags-panel">
      <div class="control-row">
        <%= link_to("Add a tag", album_tags_path(@album.apple_album_id),
                    class: "button is-info is-small is-rounded is-outlined add-tag-button") %>
      </div>
      <% if @album.tags.exists? %>
        <div class="album-tags">
          <%= render(@album.tags.sort_by(&:text)) %>
        </div>
      <% end %>
    </div>

    <div class="panel-block connections-panel">
      <div class="control-row">
        <%= link_to("Add a connection", album_connections_path(@album.apple_album_id),
                    class: "button is-info is-small is-rounded is-outlined add-tag-button") %>
      </div>
      <% if @album.connections.exists? %>
        <div class="album-connections">
          <%= render(partial: 'albums/connection', collection: @album.connections, as: :connection) %>
        </div>
      <% end %>
    </div>

    <div class="panel-block lists-panel">
      <div class="control-row">
        <%= link_to("Add to a list", album_lists_path(@album.apple_album_id),
                    class: "button is-info is-small is-rounded is-outlined add-tag-button") %>
      </div>
      <% if @album.lists.exists? %>
        <ul class="album-lists">
          <% @album.lists.each do |list| %>
            <%= list.inspect %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
